@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141E30;
  background:  #0f0c29;
  overflow: hidden;
}

h1 {
  margin-bottom: .5em;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  color: #E4E5E6;
}

h1 {
  position: relative;
  background: #ffffff;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

h1:before,
h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

h1:before {
  z-index: -1;
  text-shadow: -0.001em -0.001em 10px rgba(255,255,255,.25);
}

h1:after {
  z-index: -2;
  text-shadow: 5px 5px 5px rgba(0,0,0,1);
  mix-blend-mode: multiply;
}

h2 {
  margin-top: -1.15em;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 3rem;
  color: #F7971E;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

header{
  text-align: center;
}

a{
  text-decoration: none;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 0rem;
  line-height: 40px;
  user-select: none;
  letter-spacing: -8px;
  cursor: default;
}
span{
  opacity: 0;
  transition: .2s ease;
  overflow: hidden;
  pointer-events:none;
}

div.button{
  background-color: #F7971E;
  color:#ffffff;
  border:none;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  white-space: nowrap;
  position: relative;
  left: 50%;
  margin-left: -10px;
  transition: .4s ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  animation: shine 4s cubic-bezier(.63,0,.83,.67) infinite;
}

#butn1{
  margin-top: 20px;
}
#butn2{
  margin-top: 20px;
}
#butn3{
  margin-top: 20px;
}

a:hover div.button {
  border-radius: 0px;
  width: 300px;
  height: 40px;
  margin-left: -150px;
  letter-spacing: 0px;
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a:hover span {
  opacity: 100;
  font-size: 2rem;
  transition: 1s cubic-bezier(.17,.88,.3,1.08);
}

div.button:active {
  background-color: #3578a5;
  transition: 0s;
}

@keyframes shine {
	0%{
		box-shadow: 5px 5px 5px black;
	}
	50% {
		box-shadow: 5px 5px 5px black, 0px 0px 10px #F7971E;
	}
	100%{
		box-shadow: 5px 5px 5px black;
	}
}
