h1{
    font-size: 2em;
    letter-spacing: 0.05em;
}
.gallery{
    display:block;
    margin: auto;
    width: 50%;
}
.gallery img{
    margin: 5px;
    width: 300px;
    height: 200px;
    float:left;
    object-fit: cover;
}