body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 20px;
    width: 30%;
    height: 60%;
    overflow: hidden;
    transition:  1s;
}
h1{
    font-size: 2em;
    letter-spacing: 0.05em;
}
input{
    width: 70%;
    height: 3em;
    border-radius: 10px;
    border-style: none;
    outline: none;
    color: #cecece;
    text-align: center;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, .2);
}
input[type=date]{
    text-align: center;
}
input[type=date]::-webkit-calendar-picker-indicator{
    filter:invert();
}
input[type=button]{
    margin-top: 2.5%;
    height: 2em;
    background-color: rgb(232, 188, 100);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: black;
}
input[type=button]:hover{
    cursor: pointer;
}
input[type=button]:active{
    background-color: #a6c3d6;
}

#mensagemErro{
    color: #cc3a3a;
    font-size: 1em;
}

#mensagemErroLogin{
    color: #cc3a3a;
    font-size: 1em;
}

.alternar{
    letter-spacing: 0.05em;
    margin-top: 4%;
    transition: 0.3s;
}
.alternar:hover{
    cursor: pointer;
    color: #a6c3d6;
    text-decoration: underline 0.15em rgba(232, 188, 100, 100);
}